<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>chapPR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HandlerServlet</display-name>
    <servlet-name>HandlerServlet</servlet-name>
    <servlet-class>com.ohgiraffers.practice.HandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandlerServlet</servlet-name>
    <url-pattern>/HandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExceptionHandlerServlet</display-name>
    <servlet-name>ExceptionHandlerServlet</servlet-name>
    <servlet-class>com.ohgiraffers.exceptionhandler.ExceptionHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExceptionHandlerServlet</servlet-name>
    <url-pattern>/ExceptionHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodServlet</display-name>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>com.ohgiraffers.parameter.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/FoodServlet</url-pattern>
  </servlet-mapping>
  <error-page>
<error-code>404</error-code>
<location>/showErrorPage</location>
</error-page>
</web-app>